body {
  background: rgb(115, 112, 112);
  color: rgb(230, 221, 221);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

button {
  background: rgb(230, 221, 221);
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

input {
  background: rgb(230, 221, 221);
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}
